@charset "UTF-8";

.remark-height {
	line-height: 20vh;
	height: 20vh;
}

.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.in-out-title {
	font-size: 1.4rem;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
	.in-out-title {
		font-size: 1.2rem;
	}
}