@charset "UTF-8";

.top-box {
	background-color: #96FED1;
}

.social-bg {
	background-color: #FFF4C1;
}

.card-width {
	width: 20vw;
}

.card-img-min-height {
	min-height: 19vw;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
	
	.card-width {
		width: unset;
	}
	
	.card-img-min-height {
		min-height: unset;
	}
}